/Inspiro_Backend/.phpunit.cache
/Inspiro_Backend/node_modules
/Inspiro_Backend/public/build
/Inspiro_Backend/public/hot
/Inspiro_Backend/public/storage
/Inspiro_Backend/storage/*.key
/Inspiro_Backend/vendor
/Inspiro_Backend/composer.json
/Inspiro_Backend/composer.lock
/Inspiro_Backend/package.json
/Inspiro_Backend/.env
/Inspiro_Backend/.env.backup
/Inspiro_Backend/.env.production
/Inspiro_Backend/.phpunit.result.cache
/Inspiro_Backend/Homestead.json
/Inspiro_Backend/Homestead.yaml
/Inspiro_Backend/auth.json
/Inspiro_Backend/npm-debug.log
/Inspiro_Backend/yarn-error.log
/Inspiro_Backend/.fleet
/Inspiro_Backend/.idea
/Inspiro_Backend/.vscode

/Inspiro_Frontend/# Logs
/Inspiro_Frontend/logs
/Inspiro_Frontend/*.log
/Inspiro_Frontend/npm-debug.log*
/Inspiro_Frontend/yarn-debug.log*
/Inspiro_Frontend/yarn-error.log*
/Inspiro_Frontend/pnpm-debug.log*
/Inspiro_Frontend/lerna-debug.log*

/Inspiro_Frontend/node_modules
/Inspiro_Frontend/dist
/Inspiro_Frontend/dist-ssr
/Inspiro_Frontend/*.local

/Inspiro_Frontend/# Editor directories and files
/Inspiro_Frontend/.vscode/*
/Inspiro_Frontend/!.vscode/extensions.json
/Inspiro_Frontend/.idea
/Inspiro_Frontend/.DS_Store
/Inspiro_Frontend/*.suo
/Inspiro_Frontend/*.ntvs*
/Inspiro_Frontend/*.njsproj
/Inspiro_Frontend/*.sln
/Inspiro_Frontend/*.sw?